.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
betting_agent
betting_service

packages/valory/agents/*
packages/valory/connections/*
packages/valory/contracts/*
packages/valory/services/*
packages/valory/protocols/*
packages/valory/skills/*

!packages/valory/agents/betting_agent
!packages/valory/services/betting_service
!packages/valory/skills/betting_abci
!packages/valory/skills/betting_chained_abci
!packages/valory/contracts/betting

leak_report
/Pipfile.lock
keys.json
ethereum_private_key.txt
__pycache__/
.env
